.avatar{
    object-fit: cover;
    border: 0.25em solid CurrentColor;
    &.avatar--medium{
        height: 5rem;
        width: 5rem;
    }

    &.avatar--circle{
        border-radius: 50%;
    }

    &.avatar--square{
        border-radius: var(--medium-radius);
    }

    &.avatar--no-stroke {
        border: none;
    }

    &.avatar--initials {
        background-color: red;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: var(--text-small);
    }
}


