.badge {
    display: inline-flex;
    column-gap: 0.5em;
    padding: 0.25em 1em;
    background-color: var(--primary-05);
    border-radius: var(--medium-radius);
    align-items: center;
    justify-content: center;

    svg{
        width: var(--text-large);
        height: var(--text-large);
        fill: CurrentColor;
    }

    &.badge--square{
        height: var(--text-large);
        width: var(--text-large);
        padding: 0.5em;
        border-radius: var(--small-radius);

        &.badge--medium {
            height: var(--text-large);
            width: var(--text-large);
        }
        &.badge--large {
            height: var(--text-vvhuge);
            width: var(--text-vvhuge);

            svg{
                width: var(--text-huge);
                height: var(--text-huge);
            }
        }

    }

    &.badge--remove{
        padding-right: var(--small-padding);
    }

    &.badge--border{
        border: 1px solid CurrentColor;
    }

    &.badge--success{
        color: var(--success-font-color);
        background-color: var(--success-font-color-light);
    }

    &.badge--plain {
        background: none;
        padding: 0;
        svg {
            fill: var(--primary-05);
        }
    }

    &.badge--danger{
        color: var(--danger-font-color);
        background-color: var(--danger-font-color-light);
    }

    &.badge--warning{
        color: var(--warning-font-color);
        background-color: var(--warning-font-color-light);
    }

    &.badge--no_padding {
        padding: 0;
    }

}
