.card{
    padding: 1em;
    border: 1px solid var(--primary-10);
    border-radius: var(--medium-radius);
}

.card-header{
    display: flex;
    justify-content: space-between;
    align-content: center;
    vertical-align: center;

    h3 {
        color: var(--primary-70);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.card-footer{
    margin-top: 0.5em;
    display: flex;
    column-gap: 0.25em;
    justify-content: end;
}