nav {
    background-color: var(--primary-15);
    border-radius: var(--medium-radius);
    padding: var(--large-padding);
    max-width: 250px;

    .navigation-section {
        margin-bottom: 16px;
    }

    .navigation-section:last-child {
        margin-bottom: 0;
    }

    .section-title {
        font-size: 1.1rem;
        font-weight: bold;
        margin-bottom: 8px;
    }

    .section-content {
        display: flex;
        flex-direction: column;
        row-gap: 0.5em;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .nav__icon {
        width: 1.35em;
        height: 1.35em;
        fill: CurrentColor;
    }

    .item .label {
        font-size: var(--text-large);
    }

    .navigation-item {
        display: flex;
        column-gap: 1em;
        padding: 0.75em 1em;
        text-decoration: none;
        border-radius: var(--large-radius);
        color: CurrentColor;
        transition: background-color 0.2s;

        &:hover, &.active{
            background-color: var(--primary-30);
        }
    }
}
