.progress-container {
    width: 100%;
    background-color: var(--primary-05);
    border-radius: var(--medium-radius);
    height: 1em;
    overflow: hidden;
    align-content: center;

    .progress-bar{
        width: 50%;
        background-color: var(--primary-30);
        height: 100%;
        border-radius: var(--medium-radius);
    }
}